<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-integrity" version="1.0.0">
  <name>Integrity</name>
  <description>Cordova Integrity Plugin</description>
  <author>DirectDemocracy</author>
  <license>Apache 2.0</license>
  <keywords>cordova,integrity</keywords>
  <repo>https://github.com/directdemocracy-vote/cordova-plugin-integrity.git</repo>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  <js-module src="www/integrity.js" name="integrity">
    <clobbers target="integrity" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Integrity">
        <param name="android-package" value="vote.directdemocracy.integrity.Integrity"/>
      </feature>
    </config-file>
    <source-file src="src/android/Integrity.java" target-dir="src/vote/directdemocracy/integrity"/>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Integrity">
        <param name="ios-package" value="Integrity" />
      </feature>
    </config-file>
    <header-file src="src/ios/Integrity.h" />
    <source-file src="src/ios/Integrity.m" />
  </platform>

  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="Integrity">
        <param name="browser-package" value="vote.directdemocracy.integrity.Integrity" />
      </feature>
    </config-file>
    <js-module src="src/browser/integrity.js" name="Integrity">
      <runs />
    </js-module>
  </platform>
</plugin>
